{
    "plugins": [
        "@babel/plugin-transform-runtime",
        "dynamic-import-webpack",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-export-default-from"
    ]
}